<form [formGroup]="newEmailForm" (ngSubmit)="sendEmail()" fxFlexFill fxLayout="column">
  <mat-form-field fxFlex>
    <input type="text" fxFlex matInput formControlName="toEmail" placeholder="To" autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex>
    <input type="text" fxFlex matInput formControlName="subject" placeholder="Subject" autocomplete="off">
  </mat-form-field>

  <mat-form-field fxFlex>
    <textarea class="body" matInput fxFlex formControlName="body" placeholder="Body" autocomplete="off"></textarea>
  </mat-form-field>

  <button type="submit" mat-button fxFlex color="accent" [disabled]="newEmailForm.invalid">
    <mat-icon class="send-icon">send</mat-icon> Send
  </button>
</form>
